body {
    display: flex;
    gap: 20px;
}

section {
    background: #88c1d0;
    height: 200px;
    width: 25%;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    section {
        height: 200px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    body {
        flex-direction: column;
    }
    
    section {
        width: 100%;
        height: 200px;
    }
}