body {
    margin: 0;
    background-color: #F4F7F5;
    color: #0F1F14;
}

.content_container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: linear-gradient(135deg, #4FA79D, #6FC1B4);
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 25%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    background-color: honeydew;
    border-bottom: 2px solid #CDAA7D;
}

nav a {
    text-decoration: none;
    color: #0F1F14;
    font-weight: 600;
    padding: 1em 0;
    border-bottom: 5px solid honeydew;
}

nav a:hover {
    border-bottom: 5px solid #015C54;
    color: #015C54;
}

main {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    background: ivory;
}

.contact_article {
    width: 50%;
    text-align: center;
    background: #F7F4EE;
    border: 1px solid #CDAA7D;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}

.contact h2 {
    color: #015C54;
}

.contact form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contact input,
.contact select {
    height: 45px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #CDAA7D;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 2em;
}

.contact label {
    margin: 10px 0 5px 0;
    font-weight: 600;
    color: #0F1F14;
}

#politique_box {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    background-color: #015C54;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #01443F;
}

input[type="checkbox"]{
    transform: scale(2);
    margin: 0;
}

footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-bottom: none;
    background-color: honeydew;
    border-top: 2px solid #CDAA7D;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: none;
}

footer a {
    color: #0F1F14;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}