
.content_container {
    background-color: #c4c4c4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: linear-gradient(135deg, #f7b7a3, #fcd5ce);
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 25%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    background-color: antiquewhite;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1em 0;
}

main {
    width: 100%;
}

.accroche_container {
    position: relative;
    height: 70vh;
}

.accroche_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.accroche_text {
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
}

.accroche_text h1 {
    font-size: 3em;
}

.accroche_text h2 {
    font-size: 1.2rem;
}

.description_container {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 5vw 13vw;
    background: aqua;
    border-radius: 0 0 45% 45%;
}
.team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 1000px;
}
.member {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
}
.member:hover {
    transform: scale(1.05);
}
.member img {
    width: 100%;
    height: 11rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: 50% 15%;
}
footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: disclosure-closed;
}