.content_container {
    background-color: #c4c4c4;
    margin: 5em;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1em 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: black;
}

.recherche {
    position: relative;
    width: 35%;
}

.recherche i {
    position: absolute;
    left: 90%;
    top: 30%;
}

input {
    border: none;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
}

main {
    background: aliceblue;
    padding: 5em 5em 0 5em;
}

.presentation_container {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
    margin-bottom: 3em;
}

.fleurs_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    border-bottom: 1px solid black;
    margin-bottom: 3em;
}

.fleurs_container img{
    width: 200px;
    height: 145px;
    object-fit: cover;
    border-width: 3px;
    border-style: groove;
    padding: 1em;
}

.services_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    border-bottom: 1px solid black;
    margin-bottom: 3em;
}

.service_box {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #c4c4c4;
    padding: 1em;
    border-radius: 2em;
}

.service_box p {
    text-align: justify;
}

.box_title i {
    font-size: xx-large;
    color: black;
}

.box_link a {
    text-decoration: none;
    color: white;
}

.box_link i {
    color: white;
}

.box_title,
.box_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: disclosure-closed;
}
