body {
    background-color: ivory;
    color: #0F1F14;
    margin: 0 auto;
}

.content_container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

header {
    background: linear-gradient(135deg, #4FA79D, #6FC1B4);
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 25%;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: honeydew;
    width: 100%;
    border-bottom: 2px solid #CDAA7D;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: #0F1F14;
    font-weight: 600;
    padding: 1em 0;
    border-bottom: 5px solid honeydew;
}

nav a:hover {
    border-bottom: 5px solid #015C54;
    color: #015C54;
}

.recherche {
    position: relative;
    width: 35%;
}

.recherche i {
    position: absolute;
    left: 90%;
    top: 30%;
    color: #CDAA7D;
}

input {
    border: 2px solid #CDAA7D;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
}

main {
    background: ivory;
    padding: 5em 5em 0 5em;
}

.presentation_container {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2em;
    border-bottom: 1px solid #CDAA7D;
    margin-bottom: 3em;
}

.fleurs_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    border-bottom: 1px solid #CDAA7D;
    margin-bottom: 3em;
}

.fleurs_container img{
    width: 250px;
    height: 195px;
    object-fit: cover;
    border-width: 3px;
    border-style: groove;
    padding: 1em;
    border-color: #CDAA7D;
}

#box2 {
    border-bottom: none;
}

.services_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    border-bottom: 1px solid #CDAA7D;
    margin-bottom: 3em;
    gap: 2%;
}

.service_box {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #F7F4EE;
    border: 1px solid #CDAA7D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 2em;
}

.service_box p {
    text-align: justify;
}

.box_title i {
    font-size: xx-large;
    color: #015C54;
}

.box_link a {
    text-decoration: none;
    color: #015C54;
}

.box_link i {
    color: #015C54;
}

.box_title,
.box_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: #015C54;
}

footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-bottom: none;
    background-color: honeydew;
    border-top: 2px solid #CDAA7D;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: none;
}

footer a {
    color: #0F1F14;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}

footer a:hover {
    color: #015C54;
}



@media (max-width: 380px) {
    nav {
        gap: 0.8em;
    }

    nav a {
        font-size: 0.9em;
    }

    .presentation_container h1 {
        font-size: 1.2em;
    }

    .presentation_container p {
        font-size: 0.7em;
    }

    .fleurs_container img {
        width: 90%;
        height: 200px;
    }

    .box_title h2 {
        font-size: 1em;
    }

    .service_box p {
        font-size: 0.7em;
    }
}



@media (max-width: 480px) {

    header img {
        width: 40%;
    }

    header section {
        flex-direction: column;
        padding: 1em 0;
        gap: 1em;
    }

    nav {
        gap: 1.2em;
    }

    .recherche {
        width: 90%;
    }

    main {
        padding: 3em 2em;
    }

    .presentation_container h1 {
        font-size: 1.5em;
    }

    .presentation_container p {
        font-size: 0.8em;
    }

    .fleurs_container {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .fleurs_container img {
        width: 90%;
        height: 250px;
    }

    .services_container {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .service_box {
        width: 90%;
    }

    .box_title h2 {
        font-size: 1.2em;
    }

    .service_box p {
        font-size: 0.9em;
    }

    .footer_nav {
        flex-direction: column;
        gap: 1.5em;
    }

    footer ul {
        align-items: center;
    }

    .footer_nav img {
        width: 70%;
    }

}


@media (min-width: 481px) and (max-width: 768px) {

    header img {
        width: 40%;
    }

    header section {
        flex-direction: column;
        padding: 1em 0;
        gap: 1em;
    }

    nav {
        gap: 1.5em;
    }

    .recherche {
        width: 60%;
    }

    main {
        padding: 3em 2em;
    }

    .presentation_container p {
        font-size: 0.9em;
    }

    .fleurs_container {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .fleurs_container img {
        width: 90%;
        height: 350px;
    }

    .services_container {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .service_box {
        width: 90%;
    }

    .footer_nav {
        flex-direction: column;
        gap: 1.5em;
    }

    footer ul {
        align-items: center;
    }

    .footer_nav img {
        width: 70%;
    }
}



@media (min-width: 769px) and (max-width: 1024px) {

    nav {
        gap: 1.5em;
    }

    .recherche {
        width: 45%;
    }
}



@media (min-width: 769px) and (max-width: 1315px) {
    .fleurs_container {
        flex-wrap: wrap;
        gap: 2em;
    }

    .fleurs_container img {
        box-sizing: border-box;
        width: calc((100% - 2em) / 2);
        height: 300px;
    }

    .services_container {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .service_box {
        width: 90%;
    }
}










