body {
    margin: 0;
    background-color: #F4F7F5;
    color: #0F1F14;
}

.content_container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: linear-gradient(135deg, #4FA79D, #6FC1B4);
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 25%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    background-color: honeydew;
    border-bottom: 2px solid #CDAA7D;
}

nav a {
    text-decoration: none;
    color: #0F1F14;
    font-weight: 600;
    padding: 1em 0;
    border-bottom: 5px solid honeydew;
}

nav a:hover {
    border-bottom: 5px solid #015C54;
}

main {
    width: 100%;
    text-align: center;
}

main h1 {
    font-size: 2.4em;
    color: #3E8A82;
}








footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-bottom: none;
    background-color: honeydew;
    border-top: 2px solid #CDAA7D;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: none;
}

footer a {
    color: #0F1F14;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}

footer a:hover {
    color: #015C54;
}