body {
    margin: 0;
    background-color: #F4F7F5;
    color: #0F1F14;
}

.content_container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: linear-gradient(135deg, #4FA79D, #6FC1B4);
    text-align: center;
    color: white;
    width: 100%;
}

header img {
    width: 25%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    background-color: honeydew;
    border-bottom: 2px solid #CDAA7D;
}

nav a {
    text-decoration: none;
    color: #0F1F14;
    font-weight: 600;
    padding: 1em 0;
    border-bottom: 5px solid honeydew;
}

nav a:hover {
    border-bottom: 5px solid #015C54;
    color: #015C54;
}

main {
    width: 100%;
    text-align: center;
}

main h1 {
    font-size: 2.4em;
    color: #3E8A82;
}

.grid_realisations {
  max-width: 900px;
  padding: 2rem;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: dense;
  background: #F7F4EE;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2em;   
}

.grid_realisations img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-a {
  grid-row: span 2; 
}

.item-b {
  grid-column: span 2; 
}

.item-c {
  grid-row: span 2; 
}

.item-d {
  grid-column: span 2;
}






footer {
    width: 100%;
}

.footer_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-bottom: none;
    background-color: honeydew;
    border-top: 2px solid #CDAA7D;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-type: none;
}

footer a {
    color: #0F1F14;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}

footer a:hover {
    color: #015C54;
}